@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: 12px;
}

a {
  color: #323232;
  text-decoration: none;
  font-weight: 600;
}

p {
  display: block;
  margin: 1em 0;
}

#logo {
  margin: 0;
}

/* Nav Styling */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}

.nav-item {
  margin: 8px;
}

/* Section Styling */
section {
  padding: 1rem 0;
}

/* About Me Styling */
.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: 1rem;
}

.portrait {
  height: 300px;
  width: auto;
  border-radius: 12px;
  flex-shrink: 0;
}

/* Projects Styling */
.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

.project-image {
  width: 50%;
}

/* Skills Styling */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: 0.5rem;
}

/* Footer Styling */
footer {
  margin-top: auto;
  padding: 12px 0;
  text-align: center;
}

.heart {
  color: red;
}
