@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

h2 {
  font-family: "Proza Libre", sans-serif;
}

a {
  color: #323232;
  text-decoration: none;
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}

.nav-item {
  margin: 8px;
}
